<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Postmaniacs</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/static/css/devs.css">

</head>

<body>
    <!-- Responsive navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container px-5">
            <a class="navbar-brand" href="#!">Medify</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Home</a></li>
                    <!-- <li class="nav-item"><a class="nav-link" href="#!">About</a></li> -->
                    <li class="nav-item"><a class="nav-link active" href="/devs">Developers</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- partial:index.partial.html -->
    <div class="container" style="position: relative;

    top: 50%;
    
    transform: translateY(-50%);">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/static/assets/mann.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Mann Narang</h3>
                        <h4 class="title">Backend Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/mann61099" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                                aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                                aria-hidden="true"></a></li> -->
                        <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li> -->
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/static/assets/amaan.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Amaan Zafar</h3>
                        <h4 class="title">Frontend Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/amaan-zafar" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                                aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                                aria-hidden="true"></a></li> -->
                        <li><a href="https://www.linkedin.com/in/amaan-zafar-/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/static/assets/rohan.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Rohan Kunwar</h3>
                        <h4 class="title">Frontend Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/rohan-kunwar" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                                aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                                aria-hidden="true"></a></li> -->
                        <li><a href="https://www.linkedin.com/in/rohan-kunwar-a8a68b193/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="our-team">
                    <div class="picture">
                        <img class="img-fluid" src="/static/assets/viany.jpeg">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Vinay Jain</h3>
                        <h4 class="title">Frontend Developer</h4>
                    </div>
                    <ul class="social">
                        <li><a href="https://github.com/vinay0101" class="fa fa-github" aria-hidden="true"></a>
                        </li>
                        <!-- <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter"
                                aria-hidden="true"></a></li>
                        <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus"
                                aria-hidden="true"></a></li> -->
                        <li><a href="https://www.linkedin.com/in/vinay-jain-b9402b1a2/" class="fa fa-linkedin"
                                aria-hidden="true"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->

</body>

</html>