<!doctype html>
<html lang="en">

<head>
    <title>Checkbox 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/risk_factors.css">
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="heading-section mb-5 pb-md-4">Common Risk Factors</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="wrap w-100">
                        <div class="heading-title mb text-center">
                            <h3>Select all that applies to you</h3>
                        </div>
                        <form action="/questions" method="post">
                            {% csrf_token %}
                            <ul class="ks-cboxtags p-0 m-0">
                                {% for fac in factors %}
                                <li>
                                    <input name=sel[] type="checkbox" id="{{fac.id}}" value="{{fac.id}}">
                                    <label for="{{fac.id}}">{{fac.common_name}}</label>
                                </li>
                                {% endfor %}
                            </ul>
                            <div class="row justify-content-center">
                                <input name="factors" class="btn btn-outline-light btn-lg px-4" type="submit"
                                    value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>